<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
  <body>
      {{> header}}
      <p>{{screamIt welcomeMessage}}</p> <!-- Reference helper by name, then space, then data to pass in, or another space for second variable-->

      {{> footer}}
  </body>

</html>
